* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Common */
.container {
  width: 1140px;
  max-width: calc(100% - 50px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  min-width: 173px;
  line-height: 57px;
  background-color: #143c3c;
  display: flex;
  justify-content: center;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.8;
}

/* Header */
.header {
  padding-top: 28px;
  padding-bottom: 13px;
  background-color: #fff;
  z-index: 1;
}

.header--fixed {
  position: sticky;
  top: -15px;
}

.header .container {
  position: relative;
  display: flex;
  align-items: center;
}

.header .container::after {
  position: absolute;
  bottom: -13px;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

.logo {
  width: 146.4px;
  height: 26.236px;
  flex-shrink: 0;
  object-fit: cover;
}

.header-navbar {
  margin-left: 406px;
}

.header-navbar__list {
  display: flex;
  align-items: center;
  gap: 38px;
}

.header-navbar__item a {
  color: #575d5e;
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 155.556%;
}

.header-navbar__item a:hover {
  color: #152427;
}

.header-navbar__item--active a {
  position: relative;
  color: #152427;
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 155.556%;
}

.header-navbar__item--active a::after {
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: -32px;
  z-index: 1;
  content: "";
  width: 16px;
  height: 2px;
  background-color: #143c3c;
}

.header__cta {
  margin-left: auto;
  color: #fff;
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
}

/* Hero */
.hero .container {
  display: flex;
  gap: 76px;
  position: relative;
}

.hero__content {
  margin-top: 103px;
}

.hero__heading {
  max-width: 368px;
  color: #152427;
  font-family: Public Sans;
  font-size: 5rem;
  font-weight: 800;
  line-height: 120%;
}

.hero__desc {
  margin-top: 20px;
  max-width: 341px;
  color: var(--text-color-black-gray, #575d5e);
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 155.556%;
}

.hero__row {
  display: flex;
  margin-top: 42px;
  align-items: center;
}

.hero__git {
  color: var(--text-color-white, #fff);
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
}

.hero__play-btn {
  width: 44px;
  height: 44px;
  background-color: #83a17d;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  rotate: 45deg;
}

.hero__half-circle {
  margin-left: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: #143c3c 4px solid;
  border-color: #143c3c transparent transparent #143c3c;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  rotate: -45deg;
  transition: 0.25s;
}

.hero__half-circle:hover {
  transform: rotate(180deg);
}

.hero__wacthvd {
  margin-left: 7px;
  color: #152427;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
}

.hero__media {
  margin-top: 60px;
}

.hero__images {
  display: flex;
  gap: 20px;
}

.hero__image {
  width: 202px;
  height: 466px;
  border-radius: 999px;
  object-fit: cover;
}

.hero__image:nth-child(2) {
  margin-top: 137px;
}

.hero__bg-blur {
  position: absolute;
  z-index: -1;
  top: 182px;
  right: 175px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: #4dbb9a;
  filter: blur(137px);
}

.hero__flower-top {
  position: absolute;
  top: 35.61px;
  left: 254.61px;
}

.hero__flower-branch-top {
  position: absolute;
  top: 27.93px;
  left: 297px;
}

.hero__flower-bottom {
  position: absolute;
  top: 561.06px;
  right: 32.12px;
}

.hero__flower-branch-bottom {
  position: absolute;
  top: 349px;
  right: 73.64px;
  transform: rotate(-3.05deg);
}

/* Partners */
.partners {
  margin-top: 130px;
}

.partners .container {
  display: flex;
  min-height: 201px;
  border-radius: 999px;
  background-color: #e2eddf;
  align-items: center;
  padding: 0 121px;
}

.partners__brand:first-child .partners__heading a {
  color: #143c3c;
  font-size: 3.1rem;
  font-weight: 500;
}

.partners__brand:nth-child(2) .partners__heading a {
  color: #143c3c;
  font-size: 3.2rem;
  font-weight: 600;
}

.partners__brand:nth-child(3) .partners__heading a {
  color: #163c35;
  font-size: 2.6rem;
  font-weight: 400;
}

.partners__brand:nth-child(4) .partners__heading a {
  color: #143c3c;
  font-family: Sonsie One;
  font-size: 2.3rem;
  font-weight: 400;
}

.partners__brand:last-child .partners__heading a {
  color: #143c3c;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.105em;
}

.partners__brand {
  display: flex;
  align-items: center;
}

.partners__brand:nth-child(2) {
  margin-left: 42px;
  gap: 5px;
}

.partners__brand:nth-child(3) {
  margin-left: 51px;
  gap: 15px;
}

.partners__brand:nth-child(4) {
  margin-left: 64px;
}

.partners__brand:last-child {
  margin-left: 63px;
  gap: 14px;
}

/* Services */
.services {
  margin-top: 106px;
}

.services__text {
  margin-left: 46px;
  position: relative;
  color: #152427;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 162.5%;
}

.services__text::before {
  position: absolute;
  top: 9px;
  left: -46px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background-color: #152427;
}

.services__heading {
  position: relative;
  margin-top: 12px;
  max-width: 45.61%;
  color: #152427;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 123.81%;
}

.services__heading::after {
  position: absolute;
  right: 103px;
  bottom: 19px;
  display: inline-block;
  content: "";
  width: 66px;
  height: 2px;
  flex-shrink: 0;
  background-color: #152427;
}

.services__buttons {
  display: flex;
  gap: 17px;
}

.services__button {
  color: #152427;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  background-color: #e2eddf;
  flex-shrink: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.services__button:hover {
  color: #ffffff;
  background-color: #143c3c;
}

.services__row {
  display: flex;
  gap: 422px;
  align-items: center;
}

.services__list {
  margin-top: 76px;
  display: flex;
  gap: 16px;
}

.services-item {
  flex: 1;
  border-radius: 20px;
  transition: 0.25s;
}

.services-item__body {
  padding-bottom: 23px;
  transition: 0.25s;
}

.services-item:hover {
  background-color: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services-item:hover .services-item__body {
  transform: translateX(18px);
}

.services-item:hover .services-item__image {
  transform: scale(1.2);
}

.services-item__wrap-image {
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.services-item__image {
  display: block;
  border-radius: 20px 20px 0px 0px;
  max-width: 370px;
  height: 318px;
  object-fit: cover;
  transition: 0.25s;
}

.services-item__title {
  margin-top: 24px;
  display: inline-block;
  color: #152427;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 100%;
  transition: 0.25;
}

.services-item__desc {
  max-width: 268px;
  margin-top: 18px;
  color: #7d8188;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 171.429%;
  transition: 0.25s;
}

/* About */
.about {
  margin-top: 150px;
}

.about .container {
  position: relative;
  display: flex;
  gap: 64px;
}

.about__media {
  display: flex;
  gap: 21px;
  margin-top: 13px;
}

.about__image {
  width: 284px;
  height: 480px;
  object-fit: cover;
  border-radius: 999px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__image:first-child {
  margin-top: 77px;
}

.about__text {
  margin-left: 46px;
  position: relative;
  color: #152427;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 112.5%;
}

.about__text::before {
  position: absolute;
  left: -46px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background: #152427;
}

.about__heading {
  margin-top: 20px;
  color: #152427;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 123.81%;
}

.about__desc {
  margin-top: 11px;
  color: #7d8188;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 162.5%;
}

.about-row {
  position: relative;
  display: flex;
  gap: 24px;
  align-items: center;
}

.about-row::after {
  position: absolute;
  bottom: -20px;
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #83a17d;
}

.about-row__percent {
  color: #152427;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 123.81%;
}

.about-row__desc {
  color: #7d8188;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 171.429%;
}

.about-row:first-of-type {
  margin-top: 36px;
}

.about-row:last-of-type {
  margin-top: 58px;
}

.about-desingners {
  position: absolute;
  left: 457px;
  bottom: 8px;
  padding: 19px 17px 11px;
  width: 144px;
  height: 144px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-desingners span {
  display: inline-block;
}

.about-desingners__title {
  color: #152427;
  font-family: Public Sans;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
}

.about-desingners__text {
  margin-top: 6px;
  color: #575d5e;
  font-family: Public Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}

.about-desingners__percent {
  margin-top: 10px;
  color: #152427;
  font-family: Public Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}

.about-desingners__ruler {
  margin-top: 3px;
  overflow: hidden;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}

.about-desingners__ruler-child {
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
}

.about-desingners__loading {
  padding-right: 5px;
  margin-top: 3px;
  text-align: right;
  color: #152427;
  font-family: Public Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}

.about-desingners__row {
  position: relative;
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.about-desingners__teams {
  color: #152427;
  font-family: Public Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}

.about-desingners__avatars {
  display: flex;
}

.about-desingners__avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.about-desingners__avatar + .about-desingners__avatar {
  margin-left: -6px;
}

.about__flower {
  position: absolute;
  top: -18px;
  left: 46px;
}

.about__flower-branch {
  position: absolute;
  top: 31.11px;
  left: 52.23px;
  transform: rotate(12.645deg);
}

.about__dot {
  position: absolute;
  bottom: 31px;
  left: 19px;
}

/* Process */
.process {
  margin-top: 80px;
}

.process__text {
  margin-left: 53px;
  position: relative;
  display: inline-block;
  margin-top: 36px;
  color: #152427;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 112.5%;
}

.process__text::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: #152427;
}

.process__heading {
  position: relative;
  max-width: 477px;
  margin-top: 20px;
  color: #152427;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 123.81%;
}

.process__heading::after {
  position: absolute;
  bottom: 18px;
  right: -9px;
  display: inline-block;
  content: "";
  width: 66px;
  height: 2px;
  background-color: #152427;
}

.process-row:first-of-type {
  margin-top: 81px;
}

.process__image {
  position: absolute;
  display: block;
  bottom: 0;
  right: 92px;
  width: 450px;
  height: 444px;
  object-fit: cover;
}

.process-row {
  transition: 0.4s;
  min-height: 163.5px;
  position: relative;
  padding-left: 20px;
  padding-top: 54px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #83a17d;
}

.process-row:hover {
  border-radius: 33px;
  border-color: #e2eddf;
  background: #e2eddf;
}

.process-row:hover .process-row__number,
.process-row:hover .process-row__title {
  transform: translateX(10px);
  transform: translateY(-22px);
}

.process-row:hover .process-row__number {
  margin-left: 10px;
}

.process-row:hover .process-row__cta {
  display: block;
}

.process-row__cta:hover {
  text-decoration: underline;
}

.process-row__number {
  color: #143c3c;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 72.222%;
  transition: 0.25s;
}

.process-row__title {
  color: #152427;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 100%;
  transition: 0.25s;
}

.process-row:first-of-type .process-row__title {
  margin-left: 66px;
}

.process-row:nth-of-type(2) .process-row__title {
  margin-left: 49px;
}

.process-row:nth-of-type(3) .process-row__title {
  margin-left: 47px;
}

.process-row__desc {
  position: absolute;
  right: 41px;
  bottom: 21px;
  max-width: 572px;
  color: #7d8188;
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 155.556%;
}

.process-row:first-of-type .process-row__desc {
  margin-left: 217px;
}

.process-row:nth-of-type(2) .process-row__desc {
  margin-left: 175px;
}

.process-row:nth-of-type(3) .process-row__desc {
  margin-left: 242px;
}

.process-row__cta {
  animation-delay: 0.25;
  display: none;
  position: absolute;
  bottom: 49px;
  left: 189px;
  color: #575d5e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 100%;
}

/* Project */
.project {
  position: relative;
  padding: 116px 0 63px;
  margin-top: 148px;
  background-color: #143c3c;
}

.project__row {
  display: flex;
  gap: 93px;
}

.project__heading {
  max-width: 40.1%;
  position: relative;
  color: #e7f9f9;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 123.81%;
}

.project__heading::after {
  position: absolute;
  bottom: 20px;
  right: 97px;
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background-color: #83a17d;
}

.project__desc {
  margin-top: 11px;
  color: #6a8383;
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 155.556%;
}

.project__cta {
  margin-top: 13px;
  display: flex;
  align-items: center;
  gap: 26px;
}

.project__browse {
  color: #fff;
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 155.556%;
}

.project__arrow-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  max-height: 12px;
  cursor: pointer;
}

.project-video__wrap {
  position: relative;
  margin-top: 65px;
  width: 1140px;
  height: 544px;
  border-radius: 22px;
  background-image: url(../imgs/Video.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}

.project__flower {
  position: absolute;
  right: 130.28px;
  bottom: 603.31px;
  transform: rotate(176.985deg);
}

.project__flower-branch {
  position: absolute;
  top: 123px;
  right: 112.7px;
}
